/* cusotmizing css for porject - booking inline tabular view in admin */
.inline-group .tabular tr.has_original td {
    padding-top: 8px;
}
.original {
    display: none;
}
/* adding colors to the field  Projet money rest based on the money added*/
.gree-project-field {
    background-color: #008000;  
}
.red-project-field {
    background-color: #ff0000!important; 
}
/*  reactivation button */
.reactivateButton{
	background-color:#44c767;
	border-radius:10px;
	border:2px solid #18ab29;
	cursor: pointer;
	display:inline-block;
    padding-left: 5px;
    padding-right: 5px;
	color:#ffffff;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	/* opacity: 0.4; */
}
.reactivateButton:hover {
	background-color:#57a82b;
}
.reactivateButton:active {
	position:relative;
	top:1px;
}
.reactivateButton[disabled] { 
	opacity: 0.4;
	cursor: wait;
	pointer-events: none;
}

