[submodule "15-Recipe_APP_API"]
	path = 15-Recipe_APP_API
	url = https://github.com/artursniegowski/Recipe_APP_API.git
[submodule "01-Django_polls_reusable_app"]
	path = 01-Django_polls_reusable_app
	url = https://github.com/artursniegowski/Django_polls_reusable_app.git
[submodule "02-Learning_Blog"]
	path = 02-Learning_Blog
	url = https://github.com/artursniegowski/Learning_Blog.git
[submodule "03-Image_posting_website"]
	path = 03-Image_posting_website
	url = https://github.com/artursniegowski/Image_posting_website.git
[submodule "04-Django_Posts_website"]
	path = 04-Django_Posts_website
	url = https://github.com/artursniegowski/Django_Posts_website.git
[submodule "05-Financial_Blog_Wagtail_CMS"]
	path = 05-Financial_Blog_Wagtail_CMS
	url = https://github.com/artursniegowski/Financial_Blog_Wagtail_CMS.git
[submodule "17-Advanced-Django-Mastering-Django-and-Django-Rest-Framework-Specialization"]
	path = 17-Advanced-Django-Mastering-Django-and-Django-Rest-Framework-Specialization
	url = https://github.com/artursniegowski/Advanced-Django-Mastering-Django-and-Django-Rest-Framework-Specialization.git
[submodule "18-Build-and-Deploy-Dockerised-Django-app-handbook"]
	path = 18-Build-and-Deploy-Dockerised-Django-app-handbook
	url = https://github.com/artursniegowski/build-and-deploy-dockerised-django-app-handbook.git
[submodule "19-Dockerized-Full-stack-ChatVibe"]
	path = 19-Dockerized-Full-stack-ChatVibe
	url = https://github.com/artursniegowski/ChatVibe
