asgiref==3.6.0
decorator==5.1.1
Django==4.2
dnspython==2.3.0
email-validator==2.0.0.post2
greenlet==2.0.2 
idna==3.4
infinity==1.5
intervals==0.9.2
MarkupSafe==2.1.2
mysqlclient==2.1.1
PyMySQL==1.0.3
python-dotenv==1.0.0
six==1.16.0
SQLAlchemy==2.0.11
SQLAlchemy-Utils==0.41.1
sqlparse==0.4.4
typing_extensions==4.5.0
tzdata==2023.3
validators==0.20.0
WTForms==3.0.1
WTForms-Components==0.10.5
