{% extends 'library/base.html' %}
{% block title %}My Library - Home{% endblock %}
{% block content %}
    <h1>My Library - Home</h1>
    <p>
        Welcome to My Library,
    </p>
    <p>The library has the following record counts:</p>
    <ul>
        <li><strong>Books:</strong> {{ num_books }}</li>
        <li><strong>Copies:</strong> {{ num_instances }}</li>
        <li><strong>Copies available:</strong> {{ num_instaces_available }}</li>
        <li><strong>Authors:</strong> {{ num_authors }}</li>
        <li><strong>Genres:</strong> {{ num_genres }}</li>
    </ul>
    <p>
        You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.
    </p>
{% endblock  %}