{% extends 'app_booking/base.html' %}
{% block title %}Booking App - about{% endblock %}
{% block content %}
<section>
    <h2>ABOUT</h2>
    <article>
        <p>
            This project is a booking system app that allows users to make, retrieve, and delete bookings. 
            The homepage will list all the bookings and provide a DELETE button to allow users to remove any booking. 
            Additionally, there will be a Book tab that enables users to create new booking. Every get, create, or delete operation will be 
            executed with the use of AJAX operations on the Django views. This is a perfect example of how to use JavaScript fetch requests 
            with Django. The application uses Django as the backend and JavaScript with AJAX to fetch data from the server asynchronously 
            without reloading the page.
        </p>
    </article>
</section>
{% endblock %}